@use '../../../public/chat-bg.jpg' as chatBg;

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    min-width: 100vw;
    min-height: 100vh;
    padding-top: 5rem;
    background-image: chatBg;
    background-size: cover;

    a {
        color: #C53030;
    }
}